{% include base_path %}

<!-- start custom head snippets -->

<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
<style>
  body, p, li, h1, h2, h3, h4, h5, h6,
  .page__content, .archive__item-title, .archive__item-excerpt,
  .masthead, .author__name, .author__bio, .author__urls, .page__footer {
    font-family: 'Source Sans 3', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  .author__avatar {
    text-align: center;
  }
  .author__content {
    text-align: center;
  }
  .author__name, .sidebar .author__name {
    font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif !important;
    font-size: 0.95em !important;
    text-align: center;
  }
  .author__urls-wrapper {
    font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif !important;
  }
  .author__urls, .author__urls a, .author__urls li {
    font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif !important;
    font-size: 0.9em !important;
  }
  .teaching-section {
    margin-bottom: 1.5em;
  }
  .teaching-inst {
    margin: 0 0 0.3em 0;
    font-weight: normal;
  }
  .teaching-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .teaching-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25em;
    line-height: 1.5;
  }
  .teaching-list li a {
    color: #3333cc;
    text-decoration: none;
  }
  .teaching-list li a:hover {
    text-decoration: underline;
  }
  .teaching-year {
    color: #444;
    white-space: nowrap;
    padding-left: 2em;
  }
  a.coauthor-link {
    color: #999 !important;
    text-decoration: none;
  }
  a.coauthor-link:hover {
    text-decoration: underline;
  }
  .page__content a, .archive__item-excerpt a {
    color: #3333cc;
    text-decoration: none;
  }
  .page__content a:hover, .archive__item-excerpt a:hover {
    text-decoration: underline;
  }
  ul.pub-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.pub-list li {
    margin-bottom: 1.2em;
    line-height: 1.5;
  }
  ul.pub-list li a {
    color: #3333cc;
    text-decoration: none;
    font-weight: normal;
  }
  ul.pub-list li a:hover {
    text-decoration: underline;
  }
</style>

<!-- end custom head snippets -->
