---
layout: archive
permalink: /year-archive/
title: "Working Papers"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<ul class="pub-list">
{% for post in site.posts %}
  {% assign post_year = post.date | date: '%Y' %}
  {% unless post_year == '2199' %}
  <li>
    {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}{% if post.note %} {{ post.note }}{% endif %}<br>
    {% if post.coauthors %}({{ post.coauthors }})<br>{% endif %}
    {% if post.status %}<span class="pub-status">{{ post.status }}</span>{% endif %}
  </li>
  {% endunless %}
{% endfor %}
</ul>
