---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  <div class="home-intro">
    <div class="home-intro__photo">
      <img src="{{ '/images/profile.png' | prepend: base_path }}" alt="{{ site.author.name }}">
    </div>
    <div class="home-intro__body">
      <h1 class="home-intro__name">{{ site.author.name }}</h1>
      <p class="home-intro__contact">
        {% if site.author.email %}<a href="mailto:{{ site.author.email }}">Email</a>{% endif %}
        {% if site.author.googlescholar %}<span class="sep"> &middot; </span><a href="{{ site.author.googlescholar }}">Google Scholar</a>{% endif %}
        {% if site.author.linkedin %}<span class="sep"> &middot; </span><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a>{% endif %}
      </p>
      <div class="home-intro__content">
        {{ content }}
      </div>
    </div>
  </div>
</div>
